<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baiguo.web.admin.dao.SystemLogMapper" >
  <resultMap id="BaseResultMap" type="com.baiguo.web.admin.model.SystemLog" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="remote_addr" property="remoteAddr" jdbcType="VARCHAR" />
    <result column="operate_time" property="operateTime" jdbcType="TIMESTAMP" />
    <result column="operate_type" property="operateType" jdbcType="CHAR" />
    <result column="operate_business" property="operateBusiness" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_id, remote_addr, operate_time, operate_type, operate_business
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from system_log
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from system_log
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.baiguo.web.admin.model.SystemLog" >
    insert into system_log (id, user_id, remote_addr, 
      operate_time, operate_type, operate_business
      )
    values (#{id,jdbcType=BIGINT}, #{userId,jdbcType=INTEGER}, #{remoteAddr,jdbcType=VARCHAR}, 
      #{operateTime,jdbcType=TIMESTAMP}, #{operateType,jdbcType=CHAR}, #{operateBusiness,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.baiguo.web.admin.model.SystemLog" >
    insert into system_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="remoteAddr != null" >
        remote_addr,
      </if>
      <if test="operateTime != null" >
        operate_time,
      </if>
      <if test="operateType != null" >
        operate_type,
      </if>
      <if test="operateBusiness != null" >
        operate_business,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="remoteAddr != null" >
        #{remoteAddr,jdbcType=VARCHAR},
      </if>
      <if test="operateTime != null" >
        #{operateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operateType != null" >
        #{operateType,jdbcType=CHAR},
      </if>
      <if test="operateBusiness != null" >
        #{operateBusiness,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.baiguo.web.admin.model.SystemLog" >
    update system_log
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="remoteAddr != null" >
        remote_addr = #{remoteAddr,jdbcType=VARCHAR},
      </if>
      <if test="operateTime != null" >
        operate_time = #{operateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operateType != null" >
        operate_type = #{operateType,jdbcType=CHAR},
      </if>
      <if test="operateBusiness != null" >
        operate_business = #{operateBusiness,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.baiguo.web.admin.model.SystemLog" >
    update system_log
    set user_id = #{userId,jdbcType=INTEGER},
      remote_addr = #{remoteAddr,jdbcType=VARCHAR},
      operate_time = #{operateTime,jdbcType=TIMESTAMP},
      operate_type = #{operateType,jdbcType=CHAR},
      operate_business = #{operateBusiness,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>